/**
 * Utils
 */
/**
 * Base
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #323330;
  font: 16pt "Lato", Arial;
  font-weight: 300;
  letter-spacing: 0.05em; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  color: inherit;
  font: inherit;
  letter-spacing: inherit; }

body {
  margin: 0;
  min-height: 100vh; }

/**
 * Components
 */
a {
  color: #31AFCB;
  text-decoration: none;
  cursor: pointer; }

a > i.fa {
  font-size: 0.8em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: "Alegreya SC", Arial;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 0;
  color: red; }

h1 {
  font-size: 1.3em; }

h2 {
  font-size: 1.2em; }

h3 {
  font-size: 1em; }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

p {
  line-height: 1.5em; }
  p.footnote {
    font-size: 0.7em; }
  p a {
    text-decoration: underline; }
  p strong {
    color: red; }
  p img.infusionsoft {
    vertical-align: middle;
    height: 1em;
    top: -3px;
    position: relative; }

/****************************************
  Selections
*****************************************/
::-moz-selection {
  background: black;
  color: white; }
::selection {
  background: black;
  color: white; }

button.no-theme {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 1em;
  outline: 0;
  display: inline-block; }
  button.no-theme::-moz-focus-inner {
    border: 0; }
  button.no-theme:hover {
    outline: 0; }

button:not(.no-theme), a.button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 1em;
  outline: 0;
  display: inline-block;
  padding: 0.3rem 0.8rem;
  -webkit-border-radius: 0.5rem;
          border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  color: #31AFCB;
  border: 1px solid currentColor; }
  button:not(.no-theme)::-moz-focus-inner, a.button::-moz-focus-inner {
    border: 0; }
  button:not(.no-theme):hover, a.button:hover {
    outline: 0; }
  button:not(.no-theme):hover, a.button:hover {
    background-color: #31AFCB;
    border-color: #31AFCB;
    color: #fff; }

/**
 * Splash Page
 */
body {
  background: #F7DF1E; }

main {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8em;
  margin: 2em;
  margin-right: 4em;
  max-width: 500px; }
  @media (min-width: 750px) {
    main {
      font-size: 1em; } }

.logo {
  position: fixed;
  right: 1em;
  bottom: 1em;
  width: 60px; }
  @media (min-width: 750px) {
    .logo {
      width: 200px; } }
