// Theme
$blue: #31AFCB;
$yellow: #F7DF1E;
$dark-gray: #323330;

// Reset Vars
$default-font-family: 'Lato', Arial;
$default-title-font-family: 'Alegreya SC', Arial;
$default-font-size: 16pt;
$default-font-weight: 300;
$default-text-color: $dark-gray;
$default-anchor-color: $blue;

// Misc
$gutter: 1.5rem;
$desktop-breakpoint: 950px;
